<table *ngIf="user" class="table table-sm">
    <tr>
        <th>Id</th>
        <td>
            <input [(ngModel)]="user.id" disabled type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>User Name</th>
        <td>
            <input [(ngModel)]="user.userName" type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>
            <input [(ngModel)]="user.firstName" type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>
            <input [(ngModel)]="user.lastName" type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>Password</th>
        <td>
            <input [(ngModel)]="user.password" type="password" size="10">
        </td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>
            <input [(ngModel)]="user.phoneNumber" type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <input [(ngModel)]="user.email" type="text" size="10">
        </td>
    </tr>
    <tr>
        <th>Admin</th>
        <td>
            <input [(ngModel)]="user.isAdmin" type="checkbox" size="10">
        </td>
    </tr>
    <tr>
        <th>Reviewer</th>
        <td>
            <input [(ngModel)]="user.isReviewer" type="checkbox" size="10">
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <button (click)="save()" class= "btn btn-primary">Save</button>
        </td>
    </tr>